/*media queries*/

/* 980 px media query*/

@media screen and (max-width: 980px) {
    .sidebar {
      float: right;
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
      margin-left: 50px;
      padding: 10px;
      background: #fff;
      border: 1px solid #ddd;
      margin-right: 100px;
  }
    
      .main-section {
        float: left;
        width: 100%;
        max-width: 300px;
        margin-left: 20px;
        padding: 10px;
        margin: 0 0 40px;
        background: #fff;
        border: 1px solid #ddd;
    }
  
   
  /* 760px media query*/
  
  @media screen and (max-width: 768px) {
    .main-section {
      float: left;
      width: 100%;
      max-width: 768px;
      padding: 30px;
      margin: 0 0 40px;
      background: #fff;
      border: 1px solid #ddd;
  
  }
  
    .sidebar {
      float: left;
      width: 100%;
      max-width:768px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 10px;
      background: #fff;
      border: 1px solid #ddd;
     
    }
  }
  
  
  /* Width at 640px and below */
  
  @media screen and (max-width: 640px){
    
    .container {
      max-width: 640px;
      width: 100%;
    }
    
    #logo {
      width: 640px;
    }
    .nav {
        float: left;
        margin-top: 25px;
        margin-left: 106px;
        margin-right: 50px;
        
    }
  
    
  }